<!DOCTYPE html>
<html lang="en" ng-app="translator">
<head>
  <title>English Translator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.js"></script>
  <script src="assets/javascripts/app.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/styles.css">
</head>
<body>
  <div ng-controller="OriginCountry">
    <form ng-hide="ask" no-validate>
      <label for="">Please select your country below.</label>
      <span>If your country is not listed, select the one whose English is most like yours.</span>
      <select ng-model="country">
        <option value="american">America</option>
        <option value="british">England</option>
        <option value="australian">Australia</option>
        <option value="southAfrican">South Africa</option>
        <option value="jamaican">Jamaica</option>
      </select>
      <input type="submit" ng-click="default(country)" value="Submit"/>
    </form>
  </div>
  <div ng-controller="WordDisplay">
    <form novalidate>
      <input type="text" ng-model="query"/>
      <button type="button" ng-click="search(query)" name="search">Search</button>
      <button type="button" ng-click="random()" name="random">Random</button>
    </form>
    <div>
      <ul ng-repeat="words in wordList">
        <li ng-repeat="(country, word) in words">
          <span>{{country}}</span> > <span>{{word}}</span>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
