<!DOCTYPE html>
<html lang="en" ng-app="translator">
<head>
  <title>English Translator</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="assets/javascripts/app.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/styles.css">
</head>
<body>
  <div ng-controller="WordDisplay">
    <form novalidate>
      <input type="text" ng-model="query"/>
      <input type="submit" ng-click="search(query)" value="Search" />
      <input type="submit" ng-click="random()" value="Random" />
    </form>
    <div>
      <ul ng-repeat="words in wordList">
        <li ng-repeat="(country, word) in words">
          <span>{{country}}</span> > <span>{{word}}</span>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
