<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>English Translator</title>
  <link href="assets/stylesheets/styles.css" rel="stylesheet">
  <link rel="stylesheet" media="(max-width: 400px)" href="assets/stylesheets/small-smartphone.css" />
  <link rel="stylesheet" href="assets/stylesheets/jquery-ui.min.css">
  <link rel="stylesheet" href="assets/stylesheets/jquery-ui.structure.min.css">
  <link rel="stylesheet" href="assets/stylesheets/jquery-ui.theme.min.css">
</head>
<body>
  <%= yield %>
</body>
</html>
