
@media (max-width: 600px) {
  .intro {
    width: 100%;
    margin: auto;
    margin-top: 5%;
  }
  h2 {
    font-size: 100%;
  }
  #form1 {
    margin: 1% auto;
    width: 100%;
    padding-left: 0;
  }
  #word {
    font-size: 1em;
  }
  .form-control {
    display: inline-block;
    width: 70%;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }
  .btn {
    font-family: 'HelsinkiXXL', Fallback, sans-serif;
    display: inline-block;
    color: #FFFACD;
    background-color: #4682B4;
    border-color: #2e6da4;
    cursor: pointer;
    border-radius: 2px;
    padding: 5px;
    font-size: medium;
    -webkit-appearance: none;
  }
  .btn:hover,
  .btn:focus,
  .btn:active{
    color: #FFFACD;
    background-color: #4682B4;
    border-color: #2e6da4;
  }
  #words {
    padding-left: 0;
    list-style: none;
    width: 100%;
    margin: 10px auto 0 auto;
  }
  li {
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
  }
  .suggestions {
    margin-top: 0;
    margin-left: 1%;
    list-style-type: none;
    width: 96%;
    padding-top: 0;
    padding-left: 2%;
    background-color: silver;
  }
  .suggest-div {
    width: 75%;
    margin: 0 0 0 1%;
    height: 95px;
    overflow-y: scroll;
  }
  .suggestions li {
    text-align: left;
    font-size: 18px;
    padding-left: 
  }
}
