.intro {
  width: 60%;
  margin: auto;
  margin-top: 50px;
}

.intro-msg {
  text-align: center;
}

#form1 {
  margin: 10px auto;
  width: 70%;
  padding-left: 0;
}

.form-control {
  display: inline-block;
  width: 80%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.btn {
  display: inline-block;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  cursor: pointer;
  border-radius: 4px;
  padding: 5px;
  font-size: large;
}

.btn:hover,
.btn:focus,
.btn:active{
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

#words {
  padding-left: 0;
  list-style: none;
  width: 40%;
  margin: 10px auto;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

li {
  text-align: center;
}


